xmlRest/src/main/resources/xquery/project.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/1998/Math/MathML" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="math">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="mrow" minOccurs="0">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element name="mi">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="form" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="mo"/>
              <xs:element name="msub">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="mo" minOccurs="0"/>
                    <xs:element type="xs:string" name="mi" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="form" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="mrow">
                <xs:complexType>
                  <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element type="xs:string" name="mo"/>
                    <xs:element type="xs:string" name="mi"/>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:byte" name="mn"/>
              <xs:element name="msup">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="mi" minOccurs="0"/>
                    <xs:element type="xs:byte" name="mn" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="mi" minOccurs="0"/>
        <xs:element name="msub" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="mi" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="mo" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="overflow" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>